* {
  /* box-sizing: border-box; */
}

td {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

td:hover {
  background-color: #ffab05;
}

.container {
  position: relative;
  margin: auto;
  width: 80%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  background-color: #0f0d23;
  color: white;
}

.size-btn {
  display: inline-block;
  margin: 10px;
  cursor: pointer;

  width: 100px;
  height: 100px;
  background-color: #242448;
  z-index: 999;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  font-size: 26px;
  color: #fff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.small-size-btn {
  display: inline-block;
  cursor: pointer;
  background-color: #3700b3;

  margin: 10px;
  width: 60px;
  height: 60px;
  line-height: 30px;
  /* background: #ff9100; */
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
}

.lives {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 0px;
  margin: 0;
  font-size: 30px;
}

.hints {
  /* display: inline-block;
  position: absolute;
  left: 25px;
  top: 60px;
  margin: 0;
  font-size: 30px; */

  display: inline-block;
  position: absolute;
  right: 25px;
  top: 0px;
  margin: 0;
  font-size: 30px;
}


.timer {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 100px;
  margin: 0;
  font-size: 30px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  display: inline-block;
}

.safe {
  background-color: lightblue;
}

.god-mode-text {
  display: inline-block;
  margin-right: 5px;
}

.hide {
  display: none;
}

.small-m-l {
  margin-left: 5px;
}

.undo {
  margin-top: 5px;
}

.smiley-left {
  position: absolute;
  font-size: 45px;
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  left: 25%;
  top: 20px;
  margin: 0;
}

.smiley-right {
  position: absolute;
  font-size: 45px;
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  right: 25%;
  top: 20px;
  margin: 0;
}


.smiley-right:hover {
  font-size: 90px;
}

.smiley-left:hover {
  font-size: 90px;
}

.bomb {
  background-color: #ff6b45;
}

.expand {
  background-color: #7f7ca0;
}
