* {
  /* box-sizing: border-box; */
}

td {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

td:hover {
  background-color: #ffab05;
}

body {
  position: relative;
  margin: auto;
  padding: 10px;
  text-align: center;
  background-color: #0f0d23;
  color: white;
}

.size-btn {
  display: inline-block;
  margin: 10px;
  cursor: pointer;

  width: 100px;
  height: 100px;
  background-color: #242448;
  z-index: 999;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  font-size: 26px;
  color: #fff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.small-size-btn {
  display: inline-block;
  cursor: pointer;
  background-color: #3700b3;

  margin: 10px;
  width: 60px;
  height: 60px;
  line-height: 30px;
  /* background: #ff9100; */
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
}

.lives {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 0px;
  margin: 0;
  font-size: 40px;
}

.hints {
  /* display: inline-block;
  position: absolute;
  left: 25px;
  top: 60px;
  margin: 0;
  font-size: 30px; */
  cursor: pointer;

  display: inline-block;
  position: absolute;
  right: 25px;
  top: 0px;
  margin: 0;
  font-size: 40px;
}


.timer {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 130px;
  margin: 0;
  font-size: 70px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  display: inline-block;
}

.safe {
  background-color: lightblue;
}

.god-mode-text {
  display: inline-block;
  margin-right: 5px;
}

.hide {
  display: none;
}

.small-m-l {
  margin-left: 5px;
}

.undo {
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 130px;
  font-size: 60px;
}

.smiley-left {
  position: absolute;
  font-size: 45px;
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  left: 25%;
  top: 20px;
  margin: 0;
}

.smiley-right {
  position: absolute;
  font-size: 45px;
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  right: 25%;
  top: 20px;
  margin: 0;
}


.smiley-right:hover {
  font-size: 70px;
}

.smiley-left:hover {
  font-size: 70px;
}

.bomb {
  background-color: #ff6b45;
}

.expand {
  background-color: #7f7ca0;
}

.bulb  {
  display: inline-block;
}


.bulb-indication{
  display: none;
  position: absolute;
  right:20%;
  top: 30%;
  font-size: 80px;
}

.message{
  display: none;
  position: absolute;
  right: 15%;
  top: 30%;
  font-size: 25px;
}

.btn {
  background: #242448;
  background-image: -webkit-linear-gradient(top, #242448, #30308c);
  background-image: -moz-linear-gradient(top, #242448, #30308c);
  background-image: -ms-linear-gradient(top, #242448, #30308c);
  background-image: -o-linear-gradient(top, #242448, #30308c);
  background-image: linear-gradient(to bottom, #242448, #30308c);

  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #1d1dad;
  background-image: -webkit-linear-gradient(top, #1d1dad, #242448);
  background-image: -moz-linear-gradient(top, #1d1dad, #242448);
  background-image: -ms-linear-gradient(top, #1d1dad, #242448);
  background-image: -o-linear-gradient(top, #1d1dad, #242448);
  background-image: linear-gradient(to bottom, #1d1dad, #242448);
  text-decoration: none;
}

.safe-button-text{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 16px;
  font-size: 16px;
  font-weight: bold;
}

.safe-button-cotinaer{
  margin: 6px;
}

.best-score {
  font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}